# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.htaccess
*.idea
*.csv
*.xlsx
*.json

data

*.pyc

# Vagrant local state directory.
.vagrant

.venv
venv13
config.py